._ba_modal {
    position: relative; 
    display: block;
    padding-top: 5%;
    z-index: 1; 
    left: 0;
    top: 0;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}



._ba_modal > img {
    display: block;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

._ba_modal > .close {
    position: absolute;
    right: 5px;
    top: 5px;
}



._ba_banner > a > img {
    width: 800px;
    height: 400px;
}

body{
    height: 3000px;
}
